<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function toggleTheme() {
            document.body.classList.toggle('dark-mode');
            document.body.classList.toggle('light-mode');
        }

        function changeButtonColor(color) {
            document.getElementById("mainBtn").style.backgroundColor = color;
        }
    </script>
</head>
<body class="light-mode">
    <h1>Your Cart 🛒</h1>
    {% if cart %}
        <ul>
        {% for item in cart %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Your cart is empty</p>
    {% endif %}

    <br>
    <button id="mainBtn">Checkout</button>
    <br><br>
    <button onclick="toggleTheme()">🌞/🌙 Toggle Theme</button>
    <br><br>
    <input type="color" onchange="changeButtonColor(this.value)">
</body>
</html>
